
html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex; 
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; 
}


.image-container {
    box-sizing: border-box;
    
    width: 25em; 
    height: 38em; 
    
    
    background-image: url('png_img/1.jpg'), url('png_img/2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    background-blend-mode: normal; 

    cursor: pointer; 
    transition: background-image 0.5s ease-in-out; 
}

.image-container.swapped {

  background-blend-mode: exclusion; 

    background-image: url('png_img/2.jpg');
}

@media only screen and (max-width: 768px) {
    .image-container {
        
        width: 90vw; 
        height: 140vw; 
        max-width: 300px; 
        max-height: 456px; 
    }
}